@use './variables';
@use "sass:color";

.button {
    cursor: pointer;
    background-color: variables.$color-secondary;

    &.button-submit {
        background-color: variables.$color-primary;
    }
    &.button-danger {
        background-color: red;
    }
    &.button-info {
        background-color: variables.$color-info;
    }
    &.button-disabled {
        background-color: gray;
        cursor: not-allowed;
    }
    &.button-hollow {
        background: variables.$color-content;
        outline: variables.$color-paper solid 2px;
        outline-offset: 2px;
        margin-inline: 2px;
        margin-block: 2px;
    }

    &:hover,&:active {
        background-color: color.adjust(variables.$color-secondary, $lightness: -5%);

        &.button-submit {
            background-color: color.adjust(variables.$color-primary, $lightness: -5%);
        }
        &.button-danger {
            background-color: color.adjust(red, $lightness: -5%);
        }
        &.button-info {
            background-color: color.adjust(variables.$color-info, $lightness: -5%);
        }
        &.button-disabled {
            background-color: color.adjust(gray, $lightness: -5%);
        }
        &.button-hollow {
            background-color: variables.$color-paper;
        }
    }

    &:not(:disabled):active {
        filter: brightness(0.9);
    }
}